/* CSS for website */

h1 {
    color : #1d59a2;
}

h2 {
    color : #236cc4;
}

h3 {
    color : #347fdb;
}

h4 {
    color : #78aae7;
}

h5 {
    color : #9abfed;
}

thead {
    background-color: #bbd4f3;
    color : #ffffff;
}

th {
    background-color: #bbd4f3;
    color : #ffffff;
}

